*.prefs
.settings
classes
*.classes
*.class
.DS_Store
*.project
target
.project
.classpath
log
.log
.springBeans
*/tools/mybatis-generator-usage/src/main/java/*
dds-test/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator (4).launch
